@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face{
    font-family: 'android';
    src: url('../fontes/android-site.txt') format('opentype');
    font-weight: normal;
}
:root{
    --cor0: #c5ebd6;
    --cor1: #6A75EC;
    --cor2: #2333E8;
    --cor3: #2F3469;
    --cor4: #1B28B5;
    --cor5: #10176B;

    --fonte-padrao: arial, verdana, helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue';
}
*{
    margin: 0px;
    padding: 0px}
body{
    background-image: url('../imagens/wallpaperf1.jpg');
}
header{
    background-image: linear-gradient(to top, var(--cor5) , var(--cor1));
    text-align: center;
    min-height: 150px;
    padding-top: 20px;
}
header > h1{
    color: #E80055;
    padding-top: 46px;
    font-family: var(--fonte-destaque);
    font-size: 2.4em;
}
nav{
    padding: 10px;
    background-color: var(--cor5);

}
nav > a {
    color: #E80055;
    text-decoration: none;
    font-size: 1.2em;
    padding: 10px;
    transition: 0.5s;
    border-radius: 5px;
}
nav > a:hover{
    color: white;
    background-color: var(--cor2);
}
main{
    min-width: 350px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 15px;
    background-color: rgb(204, 204, 204);
    padding: 15px;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 0px 0px 7px black;
    
    
}

main img {
        height: 200px;    
        padding-bottom: 20px;   
}
main p {
   
    padding-left: 20px;
}
.container {
    display: flex;
    
}
.cont2{
    display: flex;
}
.cont3{
    display: flex;
}

footer{
    background-color: var(--cor5);
    font-family: var(--fonte-padrao);
    font-size: 0.8em;
    padding: 5px;
    color: white;
    text-align: center;
}
footer > a {
    color: #2fa866;
    text-decoration: none;
}